<mat-card class="manDiv" >

   
    
    <div>

 <!-- date input -->
        <mat-form-field class="manDiv">
            <input class="manDiv" [(ngModel)]="bookDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle class="manDiv" [(ngModel)]="bookDate"  matSuffix [for]="picker"> </mat-datepicker-toggle>
            <mat-datepicker class="manDiv" [(ngModel)]="bookDate"  #picker> </mat-datepicker>
          </mat-form-field> <br/>

 <!-- Reason input -->
        <mat-form-field class="manDiv"> <input [(ngModel)]="bookReason"  matInput placeholder="Reason" value=""> </mat-form-field> <br/>  
    
 <!-- doctor input -->
           <mat-form-field class="manDiv">
            <mat-label class="manDiv">Doctor</mat-label>
            <mat-select [(ngModel)]="bookDoctor" disableRipple class="manDiv">
                  <mat-option class="manDiv" value="Dr Ncube">Dr Ncube</mat-option>
              <mat-option class="manDiv" value="Dr Moodley">Dr Moodley</mat-option>
              <mat-option class="manDiv" value="Dr Pillay">Dr Pillay</mat-option>
              <mat-option class="manDiv" value="Dr Naidoo">Dr Naidoo</mat-option>
            </mat-select>
          </mat-form-field>
        
           <button  class="butt" mat-button (click)="addAppoint(bookDate,bookReason,bookDoctor)" ><mat-icon aria-hidden="false" aria-label="add">add</mat-icon></button>
    </div>     
          <form>
         
         </form>
    
        </mat-card>
    
  
        <mat-card>
   
        <mat-list *ngFor="let appoint of appoints">
    
        <p mat-button  class="manDiv" >
          Name of Patient:  {{appoint.name}} <br/>
          Date of Appointment:  {{appoint.date}} <br/>
          Reason:   {{appoint.reason}} <br/>
          Name of Doctor:  {{appoint.doctor}} 
        </p>
       
    
     </mat-list>
        </mat-card>